
body{
  background-color: #EEF1FF;
  text-align: justify;


}
hr{

  border-style: none ;
  border-top-style: dotted;
  border-color: grey;
  height: 5px;
  width: 100%;
}
h1{
  color: red
}
h3{
  color: red
}


  .top{
    background-color: #def5e5;
    position: relative;
    padding-top: 100px;
    text-align: center;
  }



  .tclo{
    position: absolute;
    right: 300px;
    top : 300px;
  }
  .bclo{
    position: absolute;
    right: 300px;
    top : 300px;

  }


.one{
  background-color: #bcead5
}
.two{
  background-color: #9ed5c5
}
.three{
  background-color: #8ec3b0
}
