
body{
  background-color: #EEF1FF;
}
hr{

  border-style: none ;
  border-top-style: dotted;
  border-color: grey;
  height: 5px;
  width: 100%;
}
h1{
  color: red
}
h3{
  color: red
}

.one{
  background-color: #D2DAFF
}
.two{
  background-color: #AAC4FF
}
.three{
  background-color: #B1B2FF
}
